<form [formGroup]="loginform" class="top">
  <div>
    <label for="username">Username:</label>
    <input type="text" formControlName="username" placeholder="Username"
      [ngClass]="{'invalid':username.errors?.required && username.touched}">
    <div *ngIf="username.errors?.required && username.touched" class="clr">username is required</div>
    <div *ngIf="username.errors?.pattern && username.touched" class="clr">username must be alphabet</div>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" formControlName="email" placeholder="Email"
      [ngClass]="{'invalid':email.errors?.required && username.touched}">
    <div *ngIf="email.errors?.required && email.touched" class="clr">email is required</div>
    <div *ngIf="email.errors?.email && email.touched" class="clr">enter a valid email</div>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" formControlName="password" placeholder="Password"
      [ngClass]="{'invalid':password.errors?.required && password.touched}">
    <div *ngIf="password.errors?.required && password.touched" class="clr">password is required</div>
    <div *ngIf="password.errors?.minlength && password.touched" class="clr">password must be at least 6 char.</div>
  </div>
  <div>
    <label for="confirmpassword">Confirm Password:</label>
    <input type="password" formControlName="confirmpassword" placeholder="Confirm Password"
      [ngClass]="{'invalid': confirmpassword.errors?.passwordMismatch && confirmpassword.touched}">
    <div *ngIf="confirmpassword.errors?.required && confirmpassword.touched">Confirm password is required</div>
    <div *ngIf="confirmpassword.errors?.passwordMismatch && confirmpassword.touched" class="clr">Passwords do not match
    </div>
  </div>

  <button (click)="onSubmit()">{{buttonValueChange? 'Update': 'Save'}}</button>
</form>

<table>
  <thead>
      <tr>
          <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Confirm Password</th>
      <th>Active</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let userdata  of alldata; let i=index">
      <td>{{1+i}}</td>
      <td>{{userdata.username}}</td>
      <td>{{userdata.email}}</td>
      <td>{{userdata.password}}</td>
      <td>{{userdata.confirmpassword}}</td>
      <td><button (click)="deleteuser(userdata.id)"><i class="ri-delete-bin-6-line"></i></button>
        <button class="a" (click)="edituser(userdata.id)"><i class="ri-pencil-fill"></i></button></td>

      </tr>
  </tbody>
</table>
<div class="delete" *ngIf="popValue" >

  <h5 class="pt-4 ps-2"><b>Are you sure to delete this user!</b></h5>
  <hr>
  <button class="btn btn-danger side1" (click)="deleteShoreUser()">Delete</button><button
      class="btn btn-dark side" (click)="close()">close</button>
</div>